.wrap-page {
	margin: 20px 0;
	.wrap-content {
		.wrap-pagination {
			min-width: 100%;
			display: flex;
			justify-content: space-between;
			.page { font-weight: bold; }
			.next, .previous {
				cursor: pointer;
				transition: all .2s ease-in;
				&:hover {
					color: #F9556D;
				}
			}
		}
	}
}